<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://153.92.220.201/u100376186_barganizer?enabledTLSProtocols=TLSv1.2</property>
		<property name="connection.username">u100376186_baradmin</property>
		<property name="connection.password">BarTeam123!</property>
		<property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hbm2ddl.auto">validate</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.connection.requireSSL">true</property>
		<property name="hibernate.connection.autoReconnect">false</property>
		<mapping class="dad.barganizer.db.beans.Empleado" />
		<mapping class="dad.barganizer.db.beans.Mesa" />
		<mapping class="dad.barganizer.db.beans.Alergeno" />
		<mapping class="dad.barganizer.db.beans.TipoPlato" />
		<mapping class="dad.barganizer.db.beans.Plato" />
		<mapping class="dad.barganizer.db.beans.Bebida" />
		<mapping class="dad.barganizer.db.beans.Comanda" />
		<mapping class="dad.barganizer.db.beans.Reserva" />
		<mapping class="dad.barganizer.db.beans.Carta" />
	</session-factory>
</hibernate-configuration>